* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family:"myfont";
  src: url("./Font/Zarame/zarame.ttf") format("truetype");
  font-display: swap;
}
img {
  display: inline-block;
}

/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* body */
body {
  font-family:"myfont";
  height: 100%;
  margin: 0;
}


/* h1見出し */
h1 {
  color: #ffffee; /* フォントの色 */
  font-size: 90px; /* フォントの大きさ */
  font-family: lobster; /* フォントの種類 */
  text-align: center; /* 文字・画像を中央にそろえる */
  height: 320px; /* 高さ */
  padding-top: 40px; /* 上がわの余白 */
}

/* ===== ヘッダーのスタイル ===== */
/* ヘッダーの箱 */
header {
  height: 0px;
}



/* ===== お店紹介のスタイル ===== */
/* セクション */
.shop {
  background-color: #ffffee;
  padding: 60px;

  display: flex;
  justify-content: center; /* 横の中央 */
  align-items: center;     /* 縦の中央 */

  min-height: 100vh;       /* 画面いっぱい */
}

/* h2見出し */


.title-2 {
  font-size: 150px;
  padding-left: 15px;
  margin-bottom: 10px;
  color:#96CBFC;
  text-align: center;
}


.shop-content-wrap {
  justify-content: center; /* 横方向の中央 */
}

.shop-text {
  font-size: 100px;
  margin-top: 30px; 
  margin-bottom: 50px;             /* ← ここ重要！ */
  color: #A2D2FF;
  text-align: center;
}

.shop-translation {
  font-size: 70px;
  margin-bottom: 20px;             /* ← ここ重要！ */
  color: #A2D2FF;
  text-align: center;
}

/* ショップの文章と画像を囲う要素 */












